*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 6% 3%;
    border-radius: 15px;
}
.content table{
    width: 25vw;
    height: 30vh;
}
.content input[type="text"]{
    width: 100%;
    height: 30px;
}
.content button{
    padding: 2% 5%;
    background-color: rgb(221, 49, 36);
    border: none;
    color: white;
    border-radius: 10px;
}